<!DOCTYPE html>

<title>Edit Entry</title>

{% block body %}
    <h1>Edit Entry</h1>

    {{ include('entry/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('entry_index') }}">back to list</a>

    {{ include('entry/_delete_form.html.twig') }}
{% endblock %}
