<!DOCTYPE html>

<title>Entry index</title>

{% block body %}
    <h1>Entry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>StreetName</th>
                <th>BuildingNumber</th>
                <th>ZipCode</th>
                <th>City</th>
                <th>Country</th>
                <th>PhoneNumber</th>
                <th>Birthday</th>
                <th>Email</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.firstName }}</td>
                <td>{{ entry.lastName }}</td>
                <td>{{ entry.streetName }}</td>
                <td>{{ entry.buildingNumber }}</td>
                <td>{{ entry.zipCode }}</td>
                <td>{{ entry.city }}</td>
                <td>{{ entry.country }}</td>
                <td>{{ entry.phoneNumber }}</td>
                <td>{{ entry.birthday ? entry.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ entry.email }}</td>
                <td>{% if entry.getPhotoName() %}<img width="50" height="50" src='{{ asset("uploads/entries/#{entry.getPhotoName()}") }}'>{% endif %}</td>
                <td>
                    <a href="{{ path('entry_show', {'id': entry.id}) }}">show</a>
                    <a href="{{ path('entry_edit', {'id': entry.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entry_new') }}">Create new</a>
{% endblock %}
