<!DOCTYPE html>

<title>Entry</title>

{% block body %}
    <h1>Entry</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entry.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ entry.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ entry.lastName }}</td>
            </tr>
            <tr>
                <th>StreetName</th>
                <td>{{ entry.streetName }}</td>
            </tr>
            <tr>
                <th>BuildingNumber</th>
                <td>{{ entry.buildingNumber }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ entry.zipCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entry.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entry.country }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ entry.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ entry.birthday ? entry.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entry.email }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ asset("uploads/entries/#{entry.getPhotoName()}") }}"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entry_index') }}">back to list</a>

    <a href="{{ path('entry_edit', {'id': entry.id}) }}">edit</a>

    {{ include('entry/_delete_form.html.twig') }}
{% endblock %}
